* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*ROOT*/
:root {
    --first-color: #07269fd3;
    --second-color: #07269fd3;
    --third-color: #07269fd3;
    --accent-color: #FF5151;
    --dark-color: #161616;
/*Tipografia responsive*/
    --body-font: 'Open Sans';
    --h1-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;
}


/*FUENTES*/
@import url('https://fonts.googleapis.com/css2?family=Duru+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

.duru-sans-regular {
    font-family: "Duru Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/*CIERRE FUENTES*/

body {
    background-color: #ffffff;
    font-family: sans-serif;
}

h2 {
    text-align: center;
    letter-spacing: 4px;
    font-weight: 600;
    color: #000000;
}

ul .navbar{
    text-align: justify;
    list-style-type: none;
    line-height: 0px;
    font-weight: 700;
    display: flex;
    font-size: 18px;
}

.barra_de_navegacion a{
    color: white;
}

.nav__item {
    display: inline-block;
    font-size: 20px;
}

nav a{
    font-family: "Duru Sans", sans-serif;
    font-weight: lighter;
    text-shadow: 1px 1px 10px #000000;
    font-style: normal;
    -webkit-transition:all 0.5s ease; /* Safari y Chrome */
    -moz-transition:all 0.5s ease; /* Firefox */
    -o-transition:all 0.5s ease; /* IE 9 */
    -ms-transition:all 0.5s ease; /* Opera */
}

nav a:hover{
    text-shadow: 1px 1px 10px #000000;
    font-size: 22px;
}

.barra_de_navegacion li {
    margin: 5px 15px;
    text-align: justify;
    padding: 20px 20px;
}

a {
    text-decoration: none;
}

header {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 73px;
    display: flex;
    background: rgb(22,57,138);
    background: linear-gradient(0deg, rgba(22,57,138,1) 0%, rgba(18,45,107,1) 100%);
    justify-content: space-between;
    z-index: 3;
}


header .logo {
    display: flex;
    justify-content: center;
    
}

a.logo {
    width: 20%;
    height: 89%
}

.logo_img {
    display: flex;
    justify-content: center;
    margin-top: 1px;
    margin-left: 15px;
    width: 200px;
    filter: drop-shadow(0 0 2px rgb(62, 62, 116));
}

.barra_de_navegacion {
    border: 30px;
    color: white;
}

.ha2_form {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.5em;
    padding: 10px;
}

form {
    background-color: transparent;
    padding: 20px 0;
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 0px 55px #0009;
    margin-top: 50px;
    border-radius: 8px;
    border-color: #ffffff;
    background-color: rgb(248, 190, 190);
}

.form_input {
    padding: 6px 20px;
    color: #fc6d6d;
    font-size: 16px;
}

input, textarea {
    min-width: 100%;
    box-sizing: border-box;
    padding: 6px 8px;
    border: none;
    border: 1px solid #666;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.593);
    background-color: rgba(227, 227, 227, 0.577);
    border-radius: 4px;
    color: rgb(0, 0, 0);
}

textarea {
    min-width: 100%;
    resize: none;
    min-height: 102px;
    font-family: sans-serif;
    color: #000;
}

label {
    font-size: 0.9em;
    line-height: 2;
}

.form_input_submit {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 210px;
    margin: auto;
}

::placeholder {
    color: #9d8d8d;
}
    
.h2-producto {
    padding: 20px auto 20px;
    margin-top: 100px;
}

.slider {
    margin: 2.2rem 0 0 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

figure {
    margin-top: 37.6px;
    position: relative;
    left: 0;
    width: 400%;
    animation: 20s slide infinite;
}
.slide {
    position: relative;
    width: 25%;
    float: left;
}

.slide h1 {
    position: absolute;
    font-size: 3em;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgb(246, 55, 55), 0 0 1em rgb(79, 79, 226), 0 0 0.2em rgb(34, 34, 167);
}

.slide img {
    border-radius: 0;
    padding: 0 ;
    width: 100%;
    height: 500px;

}
@keyframes slide {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    1000% {
        left: -400%;
    }
}

/*-- VARIABLES CSS--*/
/*Colores*/
:root {
    --first-color: #07269fd3;
    --second-color: #07269fd3;
    --third-color: #07269fd3;
    --accent-color: #FF5151;
    --dark-color: #161616;
}

/*Tipografia responsive*/
:root {
    --body-font: 'Open Sans';
    --h1-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
    :root {
        --h1-font-size: 2rem;
        --normal-font-size: 1rem;
        --smaller-font-size: 0.813rem;
    }
}

/*-- BASE --*/

.stilo-h1, .h1-descripcion {
    font-size: var(--h1-font-size);
    text-shadow: 1px 1px 2px rgb(246, 55, 55), 0 0 1em rgb(79, 79, 226), 0 0 0.2em rgb(34, 34, 167);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/*-- LAYAOUT --*/
.main {
    padding: 2rem 0;
}

.bd-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    max-width: 1200px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    align-items: center;
    gap: 2rem;
}

/*-- PAGES --*/
.title-shop {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
/*-- COMPONENT --*/
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    overflow: hidden;
}

article:nth-child(1) {
    background: linear-gradient(#052060, #2040c0ea);
}

article:nth-child(2) {
    background: linear-gradient(#000000de, #0425aa);
}

article:nth-child(3) {
    background: linear-gradient(#000000de, #0425aa);
}

article:nth-child(4) {
    background: linear-gradient(#000000de, #0425aa);
}

.card__img {
    width: 180px;
    height: auto;
    padding: 3rem 0;
    transition: .5s;
}

.card__name {
    position: absolute;
    left: -25%;
    top: 0;
    width: 3.5rem;
    height: 100%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    background-color: var(--dark-color);
    color: #fff;
    font-weight: bold;
    transition: .5s;
}

.card__icon {
    font-size: 1.5rem;
    color: var(--dark-color);
}

.card__icon:hover {
    color: var(--accent-color);
}

.card__precis {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: .5s;
}

.card__preci {
    display: block;
    text-align: center;
}

.card__preci--before {
    font-size: var(--smaller-font-size);
    color: var(--accent-color);
    margin-bottom: .25rem;
    text-decoration: line-through 0.7px #fff;
}

.card__preci--now {
    color: white;
    font-size: var(--h3-font-size);
    font-weight: bold;
}

/*Move left*/
.card:hover {
    box-shadow: 0 .5rem 1rem #D1D9E6;
}

.card:hover .card__name {
    left: 0;
}

.card:hover .card__img {
    transform: rotate(30deg);
    margin-left: 3.5rem;
}

.card:hover .card__precis {
    margin-left: 3.5rem;
    padding: 0 1.5rem;
}

/* FIN DE LA ZONA DE PRODUCTOS*/

/* COMIENZO DE LA ZONA DE DESCRIPCION*/
.h1-descripcion{
font-size: 18px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #ce967b;
    color: #f9fafc;
    text-transform: uppercase;
}
.btn-1:hover {
    background-color: #6872ff ;
}

.blog {
    padding: 100px 0;
    text-align: center;
    background: linear-gradient(#2743f8bd, #ffffff);
}

.blog-content {
    display: flex;
    justify-content: space-between
}

.blog-1 {
    
    padding: 15px 55px;
}

.blog-1 img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.blog-1 h3 {
    font-size: 25px;
    color: #323337;
}

.container {
    margin: 0 auto;
}

.footer {
    padding: 100px 0;
    background-color: #000000;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 18px;
    color: #f9fafc;
    margin-bottom: 15px;

}

.link a {
    font-size: 16px;
    color:#c5c5c5;
    display: block;
    margin-bottom: 15px;

}